<div class="jumbotron">
    <h1 align="center">Available features on this website:</h1>
    &#9679; Getting training plan <br/>
    &#9679; Saving your results <br />
    &#9679; Analizing your results <br />
    &#9679; Chating with personal trainer <br />

</div>
