<div class="jumbotron">
    <address>
        <strong>Made by:</strong> Jerzy Szachniewicz<br/>
        <strong>As:</strong> Engineering Wrok<br/>
        <strong>Contact:</strong> <a href="mailto:Jerzy.Szachniewicz@o2.pl">Jerzy.Szachniewicz@o2.pl</a>
    </address>
</div>
