@model IEnumerable<WebApplication2.Models.Exercise>

@{
    ViewBag.Title = "Excercise List";
}

<h2>Excercise List</h2>

<p>
    <button id="create">Create</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>        
    </tr>
}

</table>
<div id="someDiv">
</div>
<script>
    document.getElementById("create").onclick = function () { myFunction() };
    function myFunction() {
        $("#someDiv").load('@Url.Action("CreateExcercise", "Trainer")');
        $('#create').hide();
    }
</script>
