@using WebApplication2.Models.ViewModels
@model WebApplication2.Models.ViewModels.PlanViewModel

<h2>My training plan</h2>

@Html.ActionLink("Choos diffrent plan", "UnSelectPlan", "Client")
<table>
    <tr>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
    </tr>
    <tr>
        @foreach (var item in Model.TrainingSessions)
        {
            <td>
                @if (item != null)
                {
                    @Html.Partial("_TrainingSession", item)
                }
                else
                {
                    <p>Nothing in this day</p>
                }
            </td>
        }
    </tr>
</table>